<h1>Edit Achievements for <%= @student.name %></h1>

<%= form_tag update_achievements_student_path do %>
  <ul>
    <% @achievements.each do |t| %>
      <li>
        <%= check_box_tag "achievements[#{t.id}]", true, @student.achievements.include?(t) %>
        <%= t.achievement_description %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag "Save Achievements" %>
<% end %>
